.sidenav {
    margin-top:75px;
    height: 80%;
    width: 175px;
    position: fixed;
    bottom:0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
  }
  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  a{
    text-decoration: none;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .text {
    margin-left: 200px;
  }
.header{
    height:20%;
    width:100%;
    position: fixed;
    color: #818181;
    top: 0;
    left: 0;
    background-color: #111;
    text-indent: 32px;
 }
div .home{
  background:grey;
  color:black;
    
}
.section{
    margin-left:180px;
    margin-top:90px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #111;
  color:  #818181;
  display:flex;
  flex-direction: row;
}
.left{
  text-align: left;
  padding-right: 500px;
}
.center{
  padding:0 300px 0 0px;
}
.right{
  right:0px;
  text-align: right;
  padding-left:175px;
}
.logo{
    background-image:url(images/logo.png);
    display: inline-block;
    width: 200px;
    height: 100ppx;
    text-indent: -9999999px;
    background-repeat: no-repeat;
    background-size: 200px;
    position: relative;
    top:5px;
}
div h2{
  padding-left:250px;
}
header div{
  display: flex;
  flex-direction: row;
  font-family:Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
}
.sidenav a:hover{
  background:grey;
  color:black;
}
.sidenav a:active{
  background:grey;
  color:black;
}
.footer a:visited{
  color:gray;
  text-decoration: none;
  
}
.sect{
  margin-left:180px;
  margin-top:90px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}
.sectio{
  margin-left:180px;
  margin-top:90px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}
.sidenav a:active{
  background:grey;
  color:black;
}
div .locations{
  background:grey;
  color:black;
    
}
div .flights{
  background:grey;
  color:black;
    
}